<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
    <title>IMAGES</title>
</head>
<body>
 
     <div class="container">
        <div class="row">
          <div class="col">

            {%+ if not_allowed %}
            <br>
            <br>
            <h2>{{not_allowed}}</h2>
            {% endif %}

            <h1>Upload an image</h1>
            <hr>
      
            <form action="/upload_image" method="POST" enctype="multipart/form-data">
      
              <div class="form-group">
                <label>Select image</label>
                <br>
                <br>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="image" id="image">
                  <label class="custom-file-label" for="image">Select image...</label>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary" onclick="myFunction()" >Upload</button>
              <script>
                function myFunction() {
                  alert("This process will take around minute please be patinet and don't try again before one(1) minute");
                }
                </script>
            </form>
      
          </div>
        </div>
      </div>
</body>
</html>